!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title
    %meta{:charset => "utf-8"}/
    %meta{:property => "og:title", :content => @title }
    %meta{:property => "og:description", :content => @meta["country"]["description"]}
    %meta{:property => "og:image", :content => @meta["shareImageUrl"]}
  %body
    %h1
      = @title
    %p
      = @meta["description"]
    %img{:src => @meta["shareImageUrl"]}
